<section id="contact">
    <div class="container">
        <div class="contact-us">

            <div class="categories">
                <i class="fa-light fa-house"></i>
                <a href="home.html">Home</a>
                <i class="fa-light fa-arrow-right"></i>
                <a class="active " href="courses.html">Contact</a>
            </div>

            <h1>Contact Us</h1>

            <div class="email-careers">
                <i class="fa-regular fa-envelope"></i>
                <div class="text">
                    <h4>Email us</h4>
                    <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                    <a href="">Leave a message<i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="email-careers">
                <i class="fa-regular fa-user-plus"></i>
                <div class="text">
                    <h4>Careers</h4>
                    <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                    <a href="">Send an application<i class="fa-solid fa-arrow-right"></i></a>
                </div>

            </div>
        </div>
        <div class="contact-inputs">
            <h2>Get In Contact With Us</h2>

            <form action="">
                <div class="name">
                    <label for="name">Full name</label>
                    <input type="text" name="name" placeholder="Enter your full name">
                </div>
                <div class="email">
                    <label for="email">Email address</label>
                    <input type="email" name="email" placeholder="Enter your email address">
                </div>

                <div class="services">
                    <label for="service">Service</label>
                    <select name="service" required>
                        <option value="" name="service" disabled selected hidden>Choose the service you are interested in</option>
                        <option value="frontend">Frontend</option>
                        <option value="backend">Backend</option>
                        <option value="fullstack">Fullstack</option>
                    </select>
                </div>
                <div class="message">
                    <label for="message">Message</label>
                    <textarea name="bio" rows="10"> Enter your message here...</textarea>
                </div>
                <div class="buttons">
                    <input class="btn-theme" type="button" value="Send Contact Request">
                </div>
            </form>
        </div>
    </div>
</section>

<section id="contact-image">
    <img src="~/images/background/contact-image.svg" alt="">

</section>
